<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h3>A a new modification for <%= @recipe_title %> was added to Mixr</h3>
    <p>
    You indicated that you wanted to be informed when someone submitted new
      ways to change the <%= @recipe_title %> recipe. Head over to <a href=<%= @link %>>Mixr</a> to check it out!
    </p>
  </body>
</html>
